<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///card</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<!-- <property name="hibernate.connection.provider_class"></property>
		<property name="hibernate.c3p0.min_size"></property>
		<property name="hibernate.c3p0.max_size"></property>
		<property name="hibernate.c3p0.timeout"></property>
		<property name="hibernate.c3p0.max_statements"></property>
		<property name="hibernate.c3p0.idle_test_period"></property> -->
		<mapping class="com.entity.Student"/>
		<mapping class="com.entity.Theme"/>
	</session-factory>
</hibernate-configuration>